<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>listaIgraonica</servlet-name>
        <servlet-class>servleti.listaIgraonica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>igraonica</servlet-name>
        <servlet-class>servleti.igraonica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registracija</servlet-name>
        <servlet-class>servleti.registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>prijava</servlet-name>
        <servlet-class>servleti.prijava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>odjava</servlet-name>
        <servlet-class>servleti.odjava</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajRezervaciju</servlet-name>
        <servlet-class>servleti.dodajRezervaciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rezervacija</servlet-name>
        <servlet-class>servleti.rezervacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniRezervaciju</servlet-name>
        <servlet-class>servleti.ukloniRezervaciju</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajIgraonicu</servlet-name>
        <servlet-class>servleti.dodajIgraonicu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dodajTermin</servlet-name>
        <servlet-class>servleti.dodajTermin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proslediTermin</servlet-name>
        <servlet-class>servleti.proslediTermin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniIgraonicu</servlet-name>
        <servlet-class>servleti.ukloniIgraonicu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ukloniTermin</servlet-name>
        <servlet-class>servleti.ukloniTermin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rezervacije</servlet-name>
        <servlet-class>servleti.rezervacije</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>listaIgraonica</servlet-name>
        <url-pattern>/listaIgraonica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>igraonica</servlet-name>
        <url-pattern>/igraonica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registracija</servlet-name>
        <url-pattern>/registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>prijava</servlet-name>
        <url-pattern>/prijava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>odjava</servlet-name>
        <url-pattern>/odjava</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajRezervaciju</servlet-name>
        <url-pattern>/dodajRezervaciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rezervacija</servlet-name>
        <url-pattern>/rezervacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniRezervaciju</servlet-name>
        <url-pattern>/ukloniRezervaciju</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajIgraonicu</servlet-name>
        <url-pattern>/dodajIgraonicu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dodajTermin</servlet-name>
        <url-pattern>/dodajTermin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proslediTermin</servlet-name>
        <url-pattern>/proslediTermin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniIgraonicu</servlet-name>
        <url-pattern>/ukloniIgraonicu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ukloniTermin</servlet-name>
        <url-pattern>/ukloniTermin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rezervacije</servlet-name>
        <url-pattern>/rezervacije</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
